[Unit]
Description=Auto-connect default Bluetooth speaker
Wants=bluetooth.service
After=bluetooth.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bt-autoconnect.sh C0:28:8D:10:6A:ED
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
